name: ci
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        target: [ x86-linux, x86_64-linux, aarch64-linux, riscv64-linux ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Build
      run: zig build -Doptimize=ReleaseSafe -Dtarget=${{ matrix.target }}

    # - name: Archive executable
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: crap
    #     path: zig-out/bin/*

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        target: [ x86-linux, x86_64-linux, aarch64-linux, riscv64-linux, aarch64-macos, x86_64-macos ]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Build
      run: zig build -Doptimize=ReleaseSafe -Dtarget=${{ matrix.target }}
    
